<!DOCTYPE html>
<html>
<head>

<style>

div {
    background: #fff;
  }

</style>

<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript">
  tinymce.init({
    selector: '#mytextarea',
    plugins: "noneditable, save",
    menubar: true,
    height: 600,
    width: 1000,
   // save_onsavecallback: function(){ 
  // console.log("it worked!"); 
});
  </script>

</head>

<body>
  <div class="container-fluid">
<div class="page-header" style="text-align:center">
  <h1>Alexander Labs Invoice Generator</h1>
</div>
<p> This invoice generator was made in part of a series of free tools to help small businesses. It's effective and to the point - save time making invoices by keeping this tool online, and being able to mail completed invoices right to your client. </p>
<div class="main">

      <div class="well">
        <p>Filename<p><input id="inputFileNameToSaveAs"></input></p>
        <button class="btn btn-primary" onclick="saveTextAsFile()">Save Invoice</button>
      </div>

<div class="well">
    <textarea id="mytextarea">

    <div class="mceNonEditable">

    	<h1 style="text-align:center"> Hello. </h1>
      <h2 style="text-align:center"> This is your invoice. </h2>
      <h2> From </h2>

        <div class="mceEditable">
            <p> Name <br> Address <br> Email <br>
            </p>
        </div>

        <h2> To </h2>
        <p> Name <br> Address <br> Email <br>
        </p>

        <h2> Invoice Date </h2>
        <p> # </p>
        <h2> Due Date </h2>
        <p> # </p>
        <h2> Invoice # </h2>

        <div class="mceEditable">
          <h2> Items </h2>
          <p> Subtotal </p>
          <p> Shipping </p>
          <p> Tax </p>
          <p> Total </p>
        </div>

      </textarea>
 </div>
</div>
</div>

{{{body}}}

</body>
</html>